.movieCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.imageWrap {
  position: relative;

  img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    cursor: pointer;
    transition: 0.2s transform;
    &:hover {
      transform: scale(1.05);
    }
  }

  .rating {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--yellow-sea-rgb));
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }
}

.title {
  margin-top: 0.5rem;
  color: rgba(var(--text-primary-rgb), 0.8);
  font-weight: 400;
  margin-bottom: 0.3rem;
  cursor: pointer;
  font-weight: 500;
}

.genres {
  color: rgba(var(--text-primary-rgb), 0.3);
  font-size: 0.8rem;
}

.placeholder {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  cursor: pointer;
  transition: 0.2s transform;
  background-color: #2a343c;
  height: 20rem;
}
