.header {
  background-color: rgb(var(--background-header-rgb));
  height: 4rem;
  width: 100%;
  display: flex;

  --text-primary: #fff;
}

.logoWrapper {
  background-color: rgb(var(--coral-red-dark-rgb));
  min-width: var(--sidebar-width);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);

  & > div {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > span {
      margin-left: 0.3rem;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

.searchWrap {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  flex: 1;
  position: relative;
}

.searchIcon {
  position: relative;
  z-index: 2;
}

.searchInput {
  margin-left: 0.5rem;
  align-self: stretch;
  flex: 1;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--text-primary);
  font-size: 1.1rem;
  font-style: italic;
  position: relative;
}

.themeSwitcher {
  margin-right: 3rem;

  & > svg {
    display: block;
  }
}
