.sidebar {
  background-color: rgb(var(--background-sidebar-rgb));
  min-width: var(--sidebar-width);
}

.sidebarMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 3rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.5rem;
    cursor: pointer;
    background-color: inherit;
    transition: 0.2s;
    color: rgba(var(--text-primary-rgb), 0.5);
    font-weight: 500;

    &:hover:not(.active) {
      background-color: rgba(var(--background-page-rgb), 0.6);

      span {
        transform: translateX(0.5rem);
      }
    }

    &.active {
      .menuItemIcon {
        opacity: 0.4;
        transform: translateX(0rem);
      }
      background-color: rgb(var(--background-page-rgb));
      color: rgba(var(--text-primary-rgb), 0.9);
    }

    & > .menuItemIcon {
      opacity: 0;
      transform: translateX(-1rem);
      transition: 0.2s;
      display: flex;
    }

    & > span {
      transition: 0.2s transform;
    }
  }
}
