.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222a31ba;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
}
