.page {
  padding: 2rem 1.6rem;
  flex: 1;
}

.arrowBack {
  margin-bottom: 1rem;
  background-color: inherit;
  outline: none;
  border: none;

  & > svg {
    color: rgba(var(--text-primary-rgb), 0.8);
  }
}

.title {
  color: rgba(var(--text-primary-rgb), 0.9);
  font-weight: 600;
  margin: 0 0 0 0;
}

.row {
  display: flex;
  justify-content: center;
  flex: 1;
}

.poster > img {
  width: 100%;
  max-width: 28rem;
  display: block;
}

.movieContent {
  margin-left: 2rem;
  max-width: 40rem;
  padding-top: 1rem;
}

.shortInfo {
  color: rgba(var(--text-primary-rgb), 0.4);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  & > span {
    color: rgba(var(--text-primary-rgb), 0.4);
    margin-left: 0.5rem;
    margin-bottom: -0.2rem;
    font-size: 0.9rem;
  }
}

.overview {
  & > h4 {
    color: rgba(var(--text-primary-rgb), 0.9);
    font-weight: 400;
    margin: 0;
    font-weight: 500;
  }

  & > p {
    color: rgba(var(--text-primary-rgb), 0.6);
    margin-bottom: 0;
    margin-top: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.7;
  }
}
